<div id= 'container'> 
    <img class="back" src="./images/spotify-background.jpeg" alt="spotify-background">
<form action="/artist-search" method="GET">   
<input name= 'theArtistName' type="text">
<input type="submit" value="Search for an Artist">

</form>

</div>